.container {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;

  &.row {
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 0;
  }

  &.column {
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.slot {
  display: flex;
  flex-shrink: 0;
  font-size: 1em;

  &.row {
    flex-direction: column;
  }
}

.timeSlotLayout {
  position: relative;
  margin: 0;

  &.row {
    width: 100%;
  }

  &.column {
    min-width: 50px;
    max-width: 70px;
    height: 100%;
  }
}

.taskSlotLayout {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 1;

  &.row {
    min-height: 50px;
  }
}

.taskSlotBackground {
  position: absolute;
  z-index: 0;
  container: taskSlot / size;
  width: 100%;

  &.row {
    height: 100%;
  }

  &.col {
    @container taskSlot (height < 40px) {
      & .taskSlotContent {
        flex-direction: row;
      }
    }
  }
}

.taskSlotContent {
  z-index: 20;
  position: absolute;
  padding-top: 5px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  font-size: 1em;
}

.buttonInherit {
  color: inherit;

  &.row {
    height: 100%;
  }
}

.title {
  font-size: 1em;
  margin: 0;
}

.description {
  font-size: 1em;
  margin: 0 0;
}
.headerDate {
  &.column {
    position: absolute;
    top: -0.5em;
    margin: 0;
    padding: 0;
  }
}
