.container {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  gap: 0;
}

.slot {
  display: flex;
  font-size: 1em;
  flex-direction: column;
  flex-shrink: 0;
}

.timeSlotLayout {
  position: relative;
  width: 100%;
  margin: 0;
}

.taskSlotLayout {
  box-sizing: border-box;
  position: relative;
  min-height: 50px;
  height: 100%;
  width: 100%;
  line-height: 1;
}

.taskSlotBackground {
  position: absolute;
  height: 100%;
  z-index: 0;
  container: taskSlot / size;
}

.buttonInherit {
  color: inherit;
  height: 100%;
}

.taskSlotContent {
  z-index: 20;
  position: absolute;
  padding-top: 5px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  font-size: 1em;
}
