.container {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 10px;

  &.row {
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 0;
  }

  &.column {
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.slot {
  display: flex;
  flex-shrink: 0;
  font-size: 1em;

  &.row {
    flex-direction: column;
  }
}

.timeSlotLayout {
  position: relative;
  margin: 0;

  &.row {
    width: 100%;
  }

  &.column {
    min-width: 50px;
    max-width: 70px;
    height: 100%;
  }
}

.taskSlotLayout {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 1;

  &.row {
    min-height: 50px;
  }
}

.taskSlotBackground {
  position: absolute;
  z-index: 0;
  container: taskSlot / size;
  width: 100%;
  top: 0;
  height: 100%;
  &.row {
    height: 100%;
  }

  &.col {
    height: 100%;
    @container taskSlot (height < 40px) {
      & .taskSlotContent {
        flex-direction: row;
      }
    }
  }
}

.taskSlotContent {
  z-index: 20;
  position: absolute;
  padding-top: 5px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  font-size: 1em;
}

.buttonInherit {
  color: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;

  &.row {
    height: 100%;
  }
  &.column {
    width: 100%;
  }
}

.popoverLayout {
  background: #ffffff;
  padding: 20px;
  z-index: 100;
  width: 300px;
  max-height: 500px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
  color: #333;
  box-sizing: border-box;
}

.buttonLayout {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 4px;
}

.closeButton {
  width: 16px;
  height: 16px;
  background-color: inherit;
  border: 0;
  cursor: pointer;
}

.scheduleLayout {
  display: flex;
  height: 20px;
  align-items: center;
  gap: 4px;
}

.scheduleIcon {
  height: 20px;
  width: 20px;
  max-width: 100%;
}

.scheduleContent {
  line-height: 100%;
}

.popoverTitle {
  font-size: 24px;
  margin-bottom: 8px;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 두 줄로 제한 */
  -webkit-box-orient: vertical;
  line-height: 1.2;
  max-height: calc(1.2em * 2);
  width: 100%;
}

.popoverDescription {
  margin-top: 10px;
  font-size: 14px;
  word-break: break-all;
  min-height: 50px;
  overflow-y: auto;
  height: 100px;
}

.title {
  font-size: 1em;
  margin: 0;
}

.description {
  font-size: 1em;
  margin: 0 0;
}
.headerDate {
  &.column {
    position: absolute;
    top: -0.5em;
    margin: 0;
    padding: 0;
  }
}
