.slot {
  display: flex;
  gap: 10px;
}

.timeSlotLayout {
  position: relative;
  flex: 0 1 10%; // flex-grow: 0, flex-shrink: 1, flex-basis: 10%
  min-width: 50px;
  max-width: 70px;
  height: 100%;
}

.headerDate {
  position: absolute;
  top: -0.5em;
  margin: 0;
  padding: 0;
}

.taskSlotLayout {
  box-sizing: border-box;
  position: relative;
  flex: 1 1 90%; // flex-grow: 1, flex-shrink: 1, flex-basis: 90%
  min-width: 100px;
  height: 100%;
}

.taskSlotBackground {
  position: absolute;
  width: 100%;
  z-index: 0;
}

.taskSlotContent {
  z-index: 20;
  position: relative;
}

.title {
  font-size: 1.25rem;
  margin: 20px 0;
}

.description {
  font-size: 1rem;
  margin: 20px 0;
}
